<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta name="description" content="A list of all the posts on the site.">
    <meta name="keywords" content="posts, list, all posts, runs, runs list, home">
</head>

<body>
    <h1>All Runs</h1>
    {% for Run in object_list %}
    <h2>{{Run.title}}</h2>
    <p>{{Run.distance}} km</p>
    <p>{{Run.hours}}h {{Run.minutes}}m {{Run.seconds}}s</p>
    <p>Author: {{Run.author}}</p>
    {% endfor %}
</body>

</html>